___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: 1, 2, 3

Strings: 'abc', "def"

Lists: [1, 2, 3, [3,4], (1,2,3), (1)]

Tuples: (1, 2, 3), ([1,2], 2, 3)

Dictionaries: ("key1":"value1", "key2": "value2")

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [5]:
x = (100*4+1)/4
print(x)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [6]:
print(4 * (6+5))    # 44
print(4*6+5)        # 29
print (4+6*5)       # 34

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
number

What would you use to find a numberâ€™s square root, as well as its square?

In [76]:
# Square root:
print(16**0.5)

4.0

In [14]:
# Square:
print(4**3)

64

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [19]:
s = 'hello'
# Print out 'e' using indexing
s.index('e')

1

Reverse the string 'hello' using slicing:

In [47]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [45]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [46]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [48]:
# Method 1:
x = [0, 0, 0]
print(x)

[0, 0, 0]

In [49]:
# Method 2:
x = []
x.append(0)
x.append(0)
x.append(0)
print(x)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [51]:
list3 = [1,2,[3,4,'hello']]
print(list3)
list3 = list3 = [1,2,[3,4,'goodbye']]
print(list3)
##
list3 = [1,2,[3,4,'hello']]
print(list3)
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'hello']]
[1, 2, [3, 4, 'goodbye']]
[1, 2, [3, 4, 'hello']]
[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [52]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [53]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [58]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
ans = d['k1']['k2']
print(ans)

hello

In [62]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
ans = d['k1'][0]['nest_key'][1][0]
print(ans)

hello

In [85]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
ans = d['k1'][2]['k2'][1]['tough'][2][0]
print(ans)

hello

Can you sort a dictionary? Why or why not?<br><br>
Dictionary is a key-value pair data structure, the key of the structure is already an indexing data. The value can be find easy by the indexing. Because of the dictionary key is already sorted, which means the dictionary is no needed to be sorted.

## Tuples

What is the major difference between tuples and lists?<br><br>
1. can't be assign for one element
2. ...

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [71]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
x = set(list5)
print(x)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [72]:
# Answer before running cell
2 > 3   # False

False

In [ ]:
# Answer before running cell
3 <= 2  # True

In [73]:
# Answer before running cell
3 == 2.0    #FALSE

False

In [74]:
# Answer before running cell
3.0 == 3    #TRUE

True

In [75]:
# Answer before running cell
4**0.5 != 2 # FALSE

False

Final Question: What is the boolean output of the cell block below?

In [77]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']   #FALSE

False

## Great Job on your first assessment!